@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    background-image: url(../public/images/backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff79;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}